<h2>{{ title }}</h2>
@if(wishList.length > 0) {
<div class="wishlist-banner">
  <span class="heart">♥</span>
  My Wish List : @for(course of wishList; track course.title) {
  <span class="wishlist-item">{{ course.title }}</span>
  }
</div>
} @for(course of courses; track course.id) {
<app-course-card
  [course]="course"
  (courseBooked)="onCourseBooked($event)"
  (wishListAdded)="onWishListAdded($event)"
></app-course-card>

}
<!-- <div class="course-item">
  <h3>{{ courses[1].title }}</h3>
  <p>{{ courses[1].description }}</p>
  <p>{{ courses[1].price }}</p>
  <p>{{ courses[1].date }}</p>
  <p [hidden]="!courses[1].soldOut">Sold Out</p>
  <img [src]="courses[1].img" [alt]="courses[1].title" width="100" />
  @if(courses[1].price < 50) {
  <div class="special-offer">Special Offer!</div>
  }
  <button (click)="viewDetails(courses[1].title)">View details</button>
</div>
<div class="course-item">
  <h3>{{ courses[2].title }}</h3>
  <p>{{ courses[2].description }}</p>
  <p>{{ courses[2].price }}</p>
  <p>{{ courses[2].date }}</p>
  <p [hidden]="!courses[2].soldOut">Sold Out</p>
  <img [src]="courses[2].img" [alt]="courses[2].title" width="100" />
  @if(courses[2].price < 50) {
  <div class="special-offer">Special Offer!</div>
  }
  <button (click)="viewDetails(courses[2].title)">View details</button>
</div> -->
