<h2>{{ title }}</h2>

@for(course of courses; track course.id) {
<div class="course-item">
  <h3>{{ course.title }}</h3>
  <p>{{ course.description }}</p>
  <p>{{ course.price | currency : "USD" }}</p>
  <p>{{ course.date | date : "longDate" }}</p>
  <p [hidden]="!courses[0].soldOut">Sold Out</p>
  <img [src]="course.img" [alt]="course.title" width="100" />
  @if(course.price < 50) {
  <div class="special-offer">Special Offer!</div>
  } @if(course.onSale) {
  <div class="sale-banner">On Sale!</div>
  }
  <button (click)="viewDetails(courses[0].title)">View details</button>
</div>

}
<!-- <div class="course-item">
  <h3>{{ courses[1].title }}</h3>
  <p>{{ courses[1].description }}</p>
  <p>{{ courses[1].price }}</p>
  <p>{{ courses[1].date }}</p>
  <p [hidden]="!courses[1].soldOut">Sold Out</p>
  <img [src]="courses[1].img" [alt]="courses[1].title" width="100" />
  @if(courses[1].price < 50) {
  <div class="special-offer">Special Offer!</div>
  }
  <button (click)="viewDetails(courses[1].title)">View details</button>
</div>
<div class="course-item">
  <h3>{{ courses[2].title }}</h3>
  <p>{{ courses[2].description }}</p>
  <p>{{ courses[2].price }}</p>
  <p>{{ courses[2].date }}</p>
  <p [hidden]="!courses[2].soldOut">Sold Out</p>
  <img [src]="courses[2].img" [alt]="courses[2].title" width="100" />
  @if(courses[2].price < 50) {
  <div class="special-offer">Special Offer!</div>
  }
  <button (click)="viewDetails(courses[2].title)">View details</button>
</div> -->
